.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  margin: 100px;
}
button {
  background: #2e7d31;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: green;
}